<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css" type="text/css">
    <title>Placement Preddictor</title>
</head>
    <body background-color="red">  
        <form action="/submit" method="POST">
                            <div class="container-sm">
                                <div class="row"><br></div>
                                <div class="row"><div class="col"><br><br></div></div>
                                <div class="row"><div class="col"><br></div></div>
                                <div class="row"><div class="col"><br></div></div>
                                <div class="row"><div class="col"><br></div></div>
                                <div class="row"><div class="col"><br></div></div>
                                <div class="row"><div class="col"><br></div></div>
                                <div class="d-flex justify-content-center">
                                    <div class="col-2">
                                        <label >Enter SSC Score</label>
                                                <input type="number" class="form-control" id="ssc_p" name="ssc_p" placeholder="Enter SSC Score" min="10" max="100">
                                                </div>
                                                    <div class="col-2">
                                                        <label >Enter HSC Score</label>
                                                    <input type="number" class="form-control" id="hsc_p"  name="hsc_p" placeholder="Enter HSC Score" min="10" max="100">
                                                    </div>
                                                        <div class="col-2">
                                                            <label >Enter degree Score</label>
                                                        <input type="number" class="form-control" id="deg_p" name="deg_p" placeholder="Enter degree Score" min="10" max="100">
                                                        </div>
                                                            <div class="col-2">
                                                                <label >Enter etest Score</label>
                                                            <input type="number" class="form-control" id="etest_p" name="etest_p" placeholder="Enter etest Score" min="10" max="100">
                                                            </div>
                                                                <div class="col-2">
                                                                    <label >Enter work ex (0/1) </label>
                                                                <input type="number" class="form-control" id="work-ex" name="work-ex" placeholder="Enter work-ex" min="0" max="1">
                                                                </div>
                                </div><br>
                                                    <div class="d-flex justify-content-center">
                                                        <div class="col-2"><button type="submit" class="btn btn-primary">Submit</button></div >
                                                    </div>
                                                    <div class="row"><br></div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label for="inst"><b>Instructions</b></label>                                                            
                                                                <ul class="inst">
                                                                    <li>For work-ex select 0 for Fresher and 1 for experienced.</li>
                                                                </ul>
                                                            </div>
                                                        </div>

            </form>                        
       </body>
</html>